/* flex */

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
    display: flex;

}

.space-around {
    justify-content: space-around;
    display: flex;

}

.align-center {
    justify-content: center;
    display: flex;
    align-items: center;
}



.column {
    flex-direction: column;
    display: flex;

}


/* list */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/* color */

.red{
    color: red;
}

.green{
    color: green;
}