/* SETUP  */

/* BASE */

/* @import 'basic/base.css';
@import 'basic/layout.css';
/* @import 'basic/helpers.css'; */
/* @import 'basic/mq.css'; */ 

/* COMPONENTS */

@import 'components/mail-preview.css';
@import 'components/mail-page.css';
@import 'components/mail-label.css';
@import 'components/mail-filter.css';
@import 'components/mail-edit.css';
@import 'components/mail-details.css';


/* @import 'components/screen.css'; */