.note-filter {
    width: 90vw;
    margin: auto;
}

.note-filter input {
    height: 2rem;
    
}

.filter-btns {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.filter-btns>* {
    font-weight: 500;
    font-family: ubuntu;
}

i:hover {
    cursor: pointer;
}