.note {
   width: 20rem;
    border-radius: .5rem;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    order: 5;
    box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
    margin-bottom: 1rem;
    transition: .3s;


}

.notes-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 90vh;
}

.video-frame {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}

i:hover {
    cursor: pointer;
}

.filter-btn {
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: bolder;
    color: black;
    

}

.full-screen {
    background-image: url('../../../../icons/full-screen-icon.svg');
    width: 1rem;
    height: 1rem;
    transition: .3s;

}

.full-screen:hover {
    transform: scale(1.2);
    transition: .3s;
}

.close-btn {
    background: url('../../../../icons/close-icon.svg');
    width: 1rem;
    height: 1rem;
    transition: transform .25s;
}

.close-btn:hover {
    transform: rotate(270deg);
    -webkit-transition:-webkit-transform .25s;
          -moz-transition:-moz-transform .25s;
                   transition: transform .25s;
		
	
}

.pin-btn {
    background: url('../../../../icons/pin-icon.svg');
    width: 1rem;
    height: 1rem; 
}

.duplicate-btn {
    background: url('../../../../icons/duplicate-note-icon.svg');
    width: 1rem;
    height: 1rem;
}

.icon:hover {
    cursor: pointer;
}

  


.actions {
    width: 100%;
    border-radius: 5px;
    margin-top: 0;

    
}

.actions-two {
   margin-top: auto;
    
}

.note-list-container {
    display: flex;
}

.color-btn {
        width: 10px;
        height: 10px;
        border-radius: 3px;
        margin: auto;    
}

.color-btn:hover {
    cursor: pointer;
}

.yellow {
    background-color: #F7DC6F;
}

.red {
    background-color: #E74C3C;
}

.blue {
    background-color: #5DADE2;
}

.grey {
    background-color: #D7DBDD;
}

.green {
    background-color: #52BE80;
}

.purple {
    background-color: #A569BD;
}