.done {
  text-decoration: line-through;
}

.undone {
  text-decoration: none;
}

.actions {
  display: flex;
  margin-inline-end: 1rem;
}

.actions >* {
  margin-inline-end: 1rem;
}

.close-btn:hover {
  cursor: pointer;
}
.note-details {
  width: 30vw;
  margin: 0 auto;
  border-radius: 0.5rem;
  padding: 0.5rem;
  flex-direction: column;
  box-shadow: 0 10px 10px 2px rgba(0, 0, 0, 0.3);
  margin-bottom: 1rem;
  transition: 0.3s;
}
.notes-list-container {
}
