
.note-add {
    width: 20vw;

    margin-inline-start: 3.5rem;
    margin-top: 1rem;
}

.add-note-inputfield input{
    flex: 1;
    height: 2rem;
}

.note-types>* {
    margin-inline-end: auto;
}


.todos-note{
    height: 2rem;
    width: 4rem;
    
}
.text-note{
    height: 2rem;
    width: 4rem;
}
.img-note{
    height: 2rem;
    width: 4rem;
}
.video-note{
    height: 2rem;
    width: 4rem;
}
.audio-note{
    height: 2rem;
    width: 4rem;
}

.add-note {
    height: 2rem;
    width: 4rem;
}





