* {
    box-sizing: border-box;
    caret-color: transparent;
}

html {
    font-family: play, serif;
}

body {
    margin: 0;
    font-size: 0.875rem;
    background-color: var(--clr1);
}

img {
}

a {
    text-decoration: none;
    color: var(--clrBlack);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0;
    font-weight: 400;
}

p{
    margin: 0;

}

li {
    list-style: none;
    margin: 0;
    padding: 0;
    
    
}

ul {
    margin: 0;
    padding: 0;
}