

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
    display: flex;

}

.space-around {
    justify-content: space-around;
    display: flex;

}

.align-center {
    justify-content: center;
    display: flex;
    align-items: center;
}
.wrap {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    
}



.column {
    flex-direction: column;
    display: flex;

}


/* list */




/* color */

.red{
    color: red;
}

.green{
    color: green;
}