.mail-main-app{
 display: flex;
 height: 70vh;
 width: 80vw;
 margin: auto;
 
}

  .mail-list-container {
    display: flex;

  }


button::after{
  border: none;
}

.mail-bar {
  width: 100%;
  height: 5vh;
  background-color: #fff;
}

.count {
  height: 100%;
  background-color: #fc3d3dcc;
  color: white;
}
  
