.filter button{
  background-color: inherit;
   border: none;
   padding: 1rem;
   font-size: 1rem;
}
.filter button:hover{
    color: rgb(182, 24, 24);
   background-color: var(--clrRed);
   cursor: pointer;
}
 .filter{
    display: flex;
    flex-direction: column;
    gap:.5rem;
    background-color: inherit;
  
    
  } 

  .side-bar{
    display: flex;
    flex-direction: column;
    gap:2rem;
    font-size: 1rem;
  }

  .mail-sent-btn {
    background: url('../../../../icons/sent-mail-icon.svg');
    height: 2rem;
    width: 2rem;
  }

.mail-sent-btn:hover {
    fill: red;
} 

.add-mail {
  font-size: 2rem;
  width: 4rem;
}
