.back{
    background: url('../../../../icons/undo-icon.svg');
    width: 1rem;
    height: 1rem;
}
.edit{
    margin: auto;
    width: 80vw;
    height: 70vh;
}

.sent-mail-btn {
    background: url('../../../../icons/sent-icon-btn.svg');
    height: 1rem;
    width: 1rem;
}

.delete-btn {
    background: url('../../../../icons/trash-icon.svg');
    height: 1rem;
    width: 1rem;
}


.text-area{
    width: 100%;
    height: 100%;
  }
  .mail-form{
    margin: 0 auto;
    background-color: #fff;
    width: 80%;
    padding: 1rem;
    height: 100%;
    flex-direction: column;
    box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
    border-radius: 12px;
    border-top: 1rem black;

  }

textarea{
    resize: none;
    height: 100%;
    width: 100%;
    border:none;
    border-bottom: 1px solid #b7b7b7;
    padding: 5px 10px;
    outline: none;
}
  
.form-control{
    border:none;
    border-bottom: 1px solid #b7b7b7;
    padding: 5px 10px;
    outline: none;
 }

[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.4s 0.4s ease; 
    text-indent: -100%;
    opacity: 1;
 }