.details{
    margin: auto;
    width: 100vw;
    align-items: center;
    display: flex;
    height: 70vh;
}
.mail-read{
    background-color: #fff;
    
    width: 60%;
    margin: 0 auto;
    height: 60%;
    padding: .6rem;
    box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
    
 } 
 .mail-msg{
     padding: .7rem;
     font-size: 1rem;
     width: 100%;
     flex: 1;
     border-bottom: 1px solid lightgrey;
 }
 

  .mail-adress{
    gap: 0.5rem;
  }
  span.mail{
    color: lightslategrey;
  }
  .mail-header{
    border-bottom: 1px solid lightgrey;
    
    flex-direction: row;
    font-size: 1.2rem;
    
  }

  .icons {
    padding-top: 1rem;
  }