.filter button{
  background-color: inherit;
   border: none;
   padding: 1rem;
   font-size: 1rem;
}
.filter button:hover{
    color: rgb(182, 24, 24);
   background-color: var(--clrRed);
   font-weight: bold;
   cursor: pointer;
}
 .filter{
    display: flex;
    flex-direction: column;
    gap:.5rem;
    background-color: inherit;
  
    
  } 

  .side-bar{
    display: flex;
    flex-direction: column;
    gap:2rem;
    font-size: 1rem;
  }
