.mail-coulmn{
    padding: .7rem;
    gap:1rem;
  }
  .mail-prew{
    margin-bottom: 1rem;
    gap:1rem; 
    flex-direction: row;
    font-size: 1rem;
  }
  .mail-status{
   font-size: 1.5rem;
  }
  
.mail-coulmn:hover{
    background-color: darkgrey;
    cursor: pointer;
    margin-bottom: .5rem;
    font-weight: bolder;
  
  }
  
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}
.mail-action{
  flex-grow: 1;
}
.mail-coulmn a{
 flex-grow: 3;
}
  

  
.read{
  background-color:  inherit;
}
.unread{
  background-color:  darkgrey;
}
  .star {
    visibility:hidden;
    font-size:1.5rem;
    cursor:pointer;
    color:gold;
  }
  .star:before {
   content: "\2605";
   position: relative;
   visibility:visible;
   bottom: 0.7rem;
  }
  .star:checked:before {
   content: "\2606";
   position: relative;
   bottom: 0.7rem;
  }
  .trash-btn{
    background: url('../../../../icons/trash-icon.svg');
    height: 1.5rem;
    width: 1.5rem;
    
  }



  .trash:hover{
   font-weight: bold;
  }

  .btn-delte {
    background: url('../../../../icons/undo-icon.svg');
    height: 1rem;
    width: 1rem;
  }

  .btn-delte:hover{
   font-weight: bold;
   cursor: pointer;
  }
  .btn-delte{
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    background-color:  inherit;
  }
  .mail-list-prev{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display:block;
    width : 20%

  }

  .mail-list {
    margin: auto;
  }