



/* SMALL */
@media (max-width: 650px) {
    .note-filter {
        flex-wrap: wrap;
        justify-content: space-between;
        
    }
    .note-app-controller {
        display: flex;
        flex-direction: column;
    }

    .note-types {
        justify-content: space-between;
        display: flex;
        width: 100%;
    }
}

/* MEDIUM */

@media (max-width: 1000px) {
    .notes-list {
        flex-direction: row;
        height: auto;
        
    }

}


/* MEDIUM */

