



/* SMALL */
@media (max-width: 650px) {
    .note-filter {
        flex-wrap: wrap;
        justify-content: space-between;
        
    }

    .align-center {
        display: flex;
        align-items: center;
    }

    .note-app-controller {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
    }

    .note-types {
        justify-content: space-between;
        display: flex;
        width: 100%;
    }

    .note-add {
        width: auto;
        margin: 0;
        margin-top: 1rem;

    }
}

/* MEDIUM */

@media (max-width: 1000px) {
    .notes-list {
        flex-direction: row;
        height: auto;
        
    }

}


/* MEDIUM */

