/* SETUP  */

/* BASE */

/* @import url('.basic/base.css');
@import url('.basic/layout.css');
@import url('.basic/helpers.css');
@import url('.basic/mq.css'); */

/* COMPONENTS */



@import './components/notes-list.css';
@import './components/todo-list.css';

@import './components/note-details.css';
/* @import 'components/screen.css'; */