/* SETUP  */

/* BASE */

/* @import url('.basic/base.css');
@import url('.basic/layout.css');
@import url('.basic/helpers.css');
@import url('.basic/mq.css'); */

/* COMPONENTS */




@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Shippori+Antique+B1&display=swap');

@import './components/notes-list.css';
@import './components/note-filter.css';
@import './components/todo-list.css';
@import './components/note-add.css';
@import './components/note-app-controller.css';

@import './components/note-details.css';
@import './mq-keep.css'
/* @import 'components/screen.css'; */